<div ng-controller="productsCtrl as vm">
    <md-toolbar style="margin-top:60px">
        <div class="md-toolbar-tools">
            <h2 style="color:white">Produkty</h2>
            <span flex></span>

        </div>
    </md-toolbar>

    <md-content>
        <md-card>
            <md-list>
                <md-list-item>
                <md-subheader class="md-no-sticky">Products</md-subheader>
                <md-list-item ng-repeat="product in vm.products" class="noright">
                    <img alt="{{ product.name }}" ng-src="{{ product.img }}" class="md-avatar" />
                    <p>{{ product.name }}</p>
                    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                    <md-icon md-svg-icon="communication:email" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                    <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
                </md-list-item>
            </md-list>
        </md-card>
    </md-content>
</div>